.assign-1-shape-1{
   
    width: 500px;
    margin: 10px auto;
  
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(rgb(116, 41, 191), green, blue);
    background-color:hsl(271, 76%, 53%);
    background-color:#8a2be2;
}
.assign-1-shape-2{
    width: 500px;
   
    margin: 10px auto;
      padding: 20px;
    background-color: blueviolet;
    opacity:0.6;
}
.assign-1-shape-3{
    width: 500px;
   
    margin: 10px auto;
      padding: 20px;
    background-color: blueviolet;
    opacity:0.1;
}