.T{
    background-color:  rgb(220, 219, 219);
   border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 10px 15px;
    border-top-left-radius: 10px 20px;
    margin: 15px auto;
    height: 100px;
    width: 100px;
   
    border-width: 11px;
    box-shadow:inset 0px 0px 20px 0px;
}