



:root {
    --mainColor: #009688;
    --mainPadding: 10px;
  }
  
  div {
     color:var(--mainColor);
     border-color: var(--mainColor);
     border-style: solid;
     border-width: 2px;
   width: 400px; 
   height: 15px;
     padding: 15px;
     margin: 15px auto;
  }

<<--بعد التعديل-->>
:root {
    --mainColor: #009688;
    --mainPadding: 10px;
  }
  
  div {
     color: #f70303;
     border-color: #000000;
     border-style: solid;
     border-width: 2px;
   width: 400px; 
   height: 15px;
     padding: 15px;
     margin: 15px auto;
  }