.A{
    width: 450px;
    height: 210px;
    padding: 40px;
    margin: 60px auto;
    text-align: center;
    background-color:  #eef0f1;
    transition-duration: 0.5 ;
    transition-delay: 0s ;
    transition-timing-function:ease ;
}
.A:hover{
   
    margin-top: 40px ;
}
.D{padding: 40px;
    background-color: #bcbdbd;
    transition-duration: 1 ;
    transition-delay: 0.5s ;
    transition-timing-function:linear ;
    margin: 25px auto;
}
.A:hover .D{
    margin-top: 40px;
}