.parent {
    color: white;
    background-color:#eee;
    width: 600px;
    height: 300px;
    text-align: center;
    padding: 15px;
    margin: 5px auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;
    }
    .parent div{
        height:  calc(90% / 3);
        color: white;
        align-items: center;
        background-color: #077b16e9;
        justify-content: center;
        display: flex;
        width: 6%;
        }   
    .parent .two{
          width: 295px;
align-self: self-start;
            }    
