table{
margin: 15px auto;
width: 700px;
}
 table thead td{
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    text-align: center;
}
 table tbody td{
    text-align: center;
    background-color: #ddd;

}
.view{
background-color:rgb(9, 157, 242);
border-style: none;
margin: 10px;
padding: 10px;
}
.delete{
    background-color:rgb(242, 9, 156);
    border-style: none;
    margin: 10px;
    padding: 10px;
}
caption{
    font: bold;
}